* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 5px 5px 5px 5px;
    max-width: 1300px;
    margin: auto;
    padding: auto;
}

header {
    background-color: green;
    height: 100px;
    color: white;
}

img#logoWeb {
    max-width: 100px;
    float: left;
}

h1 {
    text-align: center;
    padding: 10px 10px 10px 10px;
}

ul#capcalera {
    background-color: lightgreen;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

li.capcalera {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    list-style: none;
    border-radius: 10px;

    display: inline;
    transition: all linear 500ms;
}

li.capcalera:hover {
    background-color: green;
}

a.capcalera {
    text-decoration: none;
    color: white;
    font-weight: bolder;

}

@keyframes projecte {
    0% {
        transform: scale(20%);
        opacity: 0%
    }

    100% {
        transform: scale(100%);
        opacity: 100%
    }

}

@keyframes baix {
    0% {
        transform: translateY(500px);
        scale: 50%;
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        transform: translateY(0px);
        scale: 100%;
    }
}

@keyframes articles-costat {
    0% {
        transform: scale(20%);
        opacity: 0%;
    }

    100% {
        transform: scale(100%);
        opacity: 100%;
    }
}

aside#entrada-baix {
    animation-name: baix;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

article.aside {
    animation-name: articles-costat;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    background-color: green;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

section {

    animation-name: projecte;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

section p.element {
    color: white;
    text-align: justify;
    padding: 10px 10px 10px 10px;
}

h2#principal {
    text-align: center;
    color: white;
}

h3 {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul#elements {
    list-style-position: inside;
    color: white;
}


aside {
    text-align: center;
    color: white;
    background-color: lightgreen;
    padding: 10px 10px 10px 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

article.aside {
    display: inline-block;
    background-color: darkgreen;
    text-align: center;
    border-radius: 10px;
    max-width: 300px;
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    transition: 500ms;

}

.aside:hover {
    background-color: black;
}

.aside img {
    max-width: 300px;
}

a.lateral {
    text-decoration: none;
    color: white;
    margin: 5px 5px 5px 5px;
}

footer {
    background-color: green;
    text-align: center;
    padding: 5px 10px 5px 10px;
}

p.footer {
    font-weight: bold;
    color: white;
}